@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.4%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #f4f4f4;
}

.hidden {
  display: none;
}

.center {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

.nav {
  height: 8rem;
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1rem;
  font-family: "Righteous", cursive;
}

.nav-logo {
  width: 20%;
}

.nav-links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-links ul li {
  font-size: 2.3rem;
  margin: 0 3rem;
  color: #234867;
}

.nav-cta {
  background-color: #C14D2E;
  height: 100%;
  width: 17rem;
  color: #fff;
  font-family: "Righteous", cursive;
  font-size: 2rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subnav {
  background-color: #587E8C;
}

.subnav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 2rem;
  color: #fff;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Righteous", cursive;
}

.subnav ul li {
  padding: 1rem 0;
  position: relative;
  cursor: pointer;
}

.subnav ul li:hover > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}

.subnav ul li:last-child > div {
  right: 0;
}

.subnav-extend {
  display: none;
  position: absolute;
  top: 4rem;
  background-color: #587e8c96;
  border-radius: 5px;
  padding: 2rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.subnav-extend ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 1rem;
}

.subnav-extend ul li {
  border-bottom: 1px solid;
  width: 100%;
  margin: 0.5rem 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  cursor: default;
}

.hero-slider {
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-slider-wrapper {
  overflow: hidden;
}

.hero-slider img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

.hero-infocons {
  padding: 3rem 0;
  background-color: #fff;
}

.hero-infocons > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  font-size: 2.7rem;
  color: #234867;
  font-family: 'Passion One', cursive;
}

.hero-infocons-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 17rem;
  margin: 0 2rem;
}

.hero-infocons-item img {
  width: 10rem;
  height: 10rem;
}

@-webkit-keyframes slider {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slider {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.featuredProducts {
  background-color: #f4f4f4;
  padding: 5rem 0;
}

.featuredProducts-title {
  color: #234867;
  font-size: 8rem;
  font-family: 'Lilita One', cursive;
}

.featuredProducts-grid {
  margin: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featuredProducts-grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35rem;
  height: 20rem;
  margin: 5rem;
}

.featuredProducts-grid-item-left {
  width: 19rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: 'Righteous', cursive;
}

.featuredProducts-grid-item-left-title {
  font-size: 2.7rem;
  color: #000;
  text-align: right;
}

.featuredProducts-grid-item-left-text {
  color: #838383;
  font-size: 1.3rem;
  margin: 1rem 0;
}

.featuredProducts-grid-item-right {
  background-color: red;
  width: 15rem;
  height: 100%;
}

.featuredProducts-grid-item-right img {
  width: 100%;
  height: 100%;
}

.banner {
  width: 100%;
  height: 51rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-text {
  color: #fff;
  font-family: 'Permanent Marker', cursive;
  font-size: 8rem;
}

.banner-1 {
  background-image: url("/assets/banner-1.png");
}

.banner-2 {
  background-image: url("/assets/banner-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.printing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 0;
}

.printing-left {
  font-family: 'Righteous', cursive;
  text-align: center;
  width: 40%;
}

.printing-left-title {
  color: #234867;
  font-size: 6rem;
  margin: 5rem 0;
}

.printing-left-desc {
  font-size: 2rem;
  color: #838383;
}

.printing-right {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.printing-right-item {
  width: 20rem;
  height: 20rem;
  background-color: green;
  margin: 2rem;
}

.printing-right-item img {
  width: 100%;
  height: 100%;
}

.clients {
  padding: 5rem 0;
  background-color: #fff;
}

.clients-title {
  font-size: 7rem;
  color: #234867;
  font-family: "Righteous", cursive;
  margin: 4rem 0;
}

.clients-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-item {
  background-color: #fff;
  width: 15rem;
  height: 15rem;
  border-radius: 20px;
  margin: 2rem;
}

.clients-item img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-size: auto;
}

.footer {
  padding: 5rem 0;
  font-family: "Righteous", cursive;
}

.footer-info {
  text-align: right;
  color: #6d6d6d;
  font-family: "Lilita One", cursive;
  font-size: 1.3rem;
}

.footer-title {
  font-size: 3.5rem;
  color: #c14d2e;
}

.footer-grid {
  margin: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-grid-item-title {
  font-size: 2.5rem;
  color: #234867;
  margin-bottom: 2rem;
}

.footer-grid-item > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-grid-item > div:last-child ul {
  width: 45%;
}

.footer-grid-item ul {
  list-style: none;
}

.footer-grid-item ul li {
  font-size: 1.7rem;
  color: #707070;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem 0;
}

.footer-desc {
  font-size: 1.7rem;
  color: #707070;
  font-family: Arial, Helvetica, sans-serif;
  margin: 3rem 0;
}

.footer-contact {
  margin-top: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-contact-left {
  width: 45%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-contact-left img {
  width: 59rem;
  height: 30rem;
}

.footer-contact-right {
  width: 45%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-contact-right-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 2rem 0;
  font-size: 3rem;
  color: #234867;
}

.footer-contact-right-item img {
  width: 5.7rem;
  height: 5.7rem;
}

.footer-contact-right-item span {
  margin-right: 2rem;
}

.creator {
  background-color: #234867;
  text-align: center;
  color: #fff;
  font-size: 3rem;
  font-family: "Righteous", cursive;
  padding: 2rem 0;
}

.creator a {
  text-decoration: underline;
}
/*# sourceMappingURL=root.css.map */