@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.4%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #f4f4f4;
}

.hidden {
  display: none;
}

.center {
  max-width: 1400px;
  width: 95%;
  margin: auto;
}

.nav {
  height: 8rem;
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1rem;
  font-family: "Righteous", cursive;
}

.nav-logo {
  width: 20%;
}

.nav-links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-links ul li {
  font-size: 2.3rem;
  margin: 0 3rem;
  color: #234867;
}

.nav-cta {
  background-color: #C14D2E;
  height: 100%;
  width: 17rem;
  color: #fff;
  font-family: "Righteous", cursive;
  font-size: 2rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subnav {
  background-color: #587E8C;
}

.subnav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 2rem;
  color: #fff;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Righteous", cursive;
}

.subnav ul li {
  padding: 1rem 0;
  position: relative;
  cursor: pointer;
}

.subnav ul li:hover > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}

.subnav ul li:last-child > div {
  right: 0;
}

.subnav-extend {
  display: none;
  position: absolute;
  top: 4rem;
  background-color: #587e8c96;
  border-radius: 5px;
  padding: 2rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.subnav-extend ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 1rem;
}

.subnav-extend ul li {
  border-bottom: 1px solid;
  width: 100%;
  margin: 0.5rem 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  cursor: default;
}

@media only screen and (max-width: 550px) {
  .subnav {
    display: none;
  }
  .nav {
    height: 13rem;
  }
  .nav-logo {
    width: 50%;
  }
}

.hero-slider {
  width: 100vw;
  height: 60vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw 100vw 100vw;
      grid-template-columns: 100vw 100vw 100vw;
}

.hero-slider-wrapper {
  overflow: hidden;
}

.hero-slider-item {
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hero-slider-item-title {
  color: #fff;
  font-size: 6rem;
  font-family: "Righteous", cursive;
}

.hero-slider-item img {
  width: 70rem;
  height: 42rem;
}

.hero-slider-item-1 {
  background-image: url("/assets/slider-img-4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-slider-item-2 {
  background-image: url("/assets/slider-img-5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-slider-item-3 {
  background: -webkit-gradient(linear, left top, right top, from(#9900ff), color-stop(#2ca4ff), to(#6cd9f5));
  background: linear-gradient(to right, #9900ff, #2ca4ff, #6cd9f5);
}

.hero-infocons {
  padding: 3rem 0;
  background-color: #fff;
}

.hero-infocons > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  font-size: 2.7rem;
  color: #234867;
  font-family: "Passion One", cursive;
}

.hero-infocons-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 17rem;
  margin: 0 2rem;
}

.hero-infocons-item img {
  width: 10rem;
  height: 10rem;
}

@-webkit-keyframes slider {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slider {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 550px) {
  .hero-slider-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.featuredProducts {
  background-color: #f4f4f4;
  padding: 5rem 0;
}

.featuredProducts-title {
  color: #234867;
  font-size: 8rem;
  font-family: 'Lilita One', cursive;
}

.featuredProducts-grid {
  margin: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featuredProducts-grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35rem;
  height: 20rem;
  margin: 5rem;
}

.featuredProducts-grid-item-left {
  width: 19rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: 'Righteous', cursive;
}

.featuredProducts-grid-item-left-title {
  font-size: 2.7rem;
  color: #000;
  text-align: right;
}

.featuredProducts-grid-item-left-text {
  color: #838383;
  font-size: 1.3rem;
  margin: 1rem 0;
}

.featuredProducts-grid-item-right {
  background-color: red;
  width: 15rem;
  height: 100%;
}

.featuredProducts-grid-item-right img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 550px) {
  .featuredProducts {
    width: 100%;
  }
  .featuredProducts-title {
    text-align: center;
  }
  .featuredProducts-grid-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 30rem;
  }
  .featuredProducts-grid-item-left {
    width: 35rem;
  }
  .featuredProducts-grid-item-left-title {
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
  }
  .featuredProducts-grid-item-left-text {
    display: none;
  }
  .featuredProducts-grid-item-right {
    width: 35rem;
  }
}

.banner {
  width: 100%;
  height: 51rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-text {
  color: #fff;
  font-family: 'Permanent Marker', cursive;
  font-size: 8rem;
}

.banner-1 {
  background-image: url("/assets/banner-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-2 {
  background-image: url("/assets/banner-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.printing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 0;
}

.printing-left {
  font-family: 'Righteous', cursive;
  text-align: center;
  width: 40%;
}

.printing-left-title {
  color: #234867;
  font-size: 6rem;
  margin: 5rem 0;
}

.printing-left-desc {
  font-size: 2rem;
  color: #838383;
}

.printing-right {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.printing-right-item {
  width: 20rem;
  height: 20rem;
  background-color: green;
  margin: 2rem;
}

.printing-right-item img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 550px) {
  .printing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .printing-left, .printing-right {
    width: 100%;
  }
  .printing-left-desc {
    font-size: 3rem;
  }
  .printing-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.clients {
  padding: 5rem 0;
  background-color: #fff;
}

.clients-title {
  font-size: 7rem;
  color: #234867;
  font-family: "Righteous", cursive;
  margin: 4rem 0;
}

.clients-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-item {
  background-color: #fff;
  width: 15rem;
  height: 15rem;
  border-radius: 20px;
  margin: 2rem;
}

.clients-item img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-size: auto;
}

@media only screen and (max-width: 550px) {
  .clients-title {
    text-align: center;
  }
}

.footer {
  padding: 5rem 0;
  font-family: "Righteous", cursive;
}

.footer-info {
  text-align: right;
  color: #6d6d6d;
  font-family: "Lilita One", cursive;
  font-size: 1.3rem;
}

.footer-title {
  font-size: 3.5rem;
  color: #c14d2e;
}

.footer-grid {
  margin: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-grid-item {
  margin: 3rem;
}

.footer-grid-item-title {
  font-size: 2.5rem;
  color: #234867;
  margin-bottom: 2rem;
}

.footer-grid-item > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-grid-item > div:last-child ul {
  width: 45%;
}

.footer-grid-item ul {
  list-style: none;
}

.footer-grid-item ul li {
  font-size: 1.7rem;
  color: #707070;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem 0;
}

.footer-desc {
  font-size: 1.7rem;
  color: #707070;
  font-family: Arial, Helvetica, sans-serif;
  margin: 3rem 0;
}

.footer-contact {
  margin-top: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-contact-left {
  width: 45%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-contact-left img {
  width: 59rem;
  height: 30rem;
}

.footer-contact-right {
  width: 45%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-contact-right-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 2rem 0;
  font-size: 3rem;
  color: #234867;
}

.footer-contact-right-item img {
  width: 5.7rem;
  height: 5.7rem;
}

.footer-contact-right-item span {
  margin-right: 2rem;
}

.creator {
  background-color: #234867;
  text-align: center;
  color: #fff;
  font-size: 3rem;
  font-family: "Righteous", cursive;
  padding: 2rem 0;
}

.creator a {
  text-decoration: underline;
}

@media only screen and (max-width: 550px) {
  .footer-title {
    text-align: center;
  }
  .footer-grid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-contact-left, .footer-contact-right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 6rem;
  }
  .footer-contact-right-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media only screen and (max-width: 1903px) {
  html {
    font-size: 62%;
  }
}

@media only screen and (max-width: 1852px) {
  html {
    font-size: 61%;
  }
}

@media only screen and (max-width: 1818px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 1790px) {
  html {
    font-size: 59%;
  }
}

@media only screen and (max-width: 1759px) {
  html {
    font-size: 58%;
  }
}

@media only screen and (max-width: 1728px) {
  html {
    font-size: 57%;
  }
}

@media only screen and (max-width: 1700px) {
  html {
    font-size: 56%;
  }
}

@media only screen and (max-width: 1670px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 1640px) {
  html {
    font-size: 54%;
  }
}

@media only screen and (max-width: 1610px) {
  html {
    font-size: 53%;
  }
}

@media only screen and (max-width: 1584px) {
  html {
    font-size: 52%;
  }
}

@media only screen and (max-width: 1553px) {
  html {
    font-size: 51%;
  }
}

@media only screen and (max-width: 1520px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 1495px) {
  html {
    font-size: 49%;
  }
}

@media only screen and (max-width: 1463px) {
  html {
    font-size: 48%;
  }
}

@media only screen and (max-width: 1432px) {
  html {
    font-size: 47%;
  }
}

@media only screen and (max-width: 1400px) {
  html {
    font-size: 46%;
  }
}

@media only screen and (max-width: 1370px) {
  html {
    font-size: 45%;
  }
}

@media only screen and (max-width: 1345px) {
  html {
    font-size: 44%;
  }
}

@media only screen and (max-width: 1313px) {
  html {
    font-size: 43%;
  }
}

@media only screen and (max-width: 1281px) {
  html {
    font-size: 42%;
  }
}

@media only screen and (max-width: 1252px) {
  html {
    font-size: 41%;
  }
}

@media only screen and (max-width: 1230px) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 1194px) {
  html {
    font-size: 39%;
  }
}

@media only screen and (max-width: 1162px) {
  html {
    font-size: 38%;
  }
}

@media only screen and (max-width: 1120px) {
  html {
    font-size: 37%;
  }
}

@media only screen and (max-width: 970px) {
  html {
    font-size: 30%;
  }
}
/*# sourceMappingURL=root.css.map */