.hero {
  &-slider {
    &-wrapper {
      overflow: hidden;
    }
    width: 100vw;
    height: 60vh;
    display: grid;
    grid-template-columns: 100vw 100vw 100vw;
    &-item {
      width: 100vw;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      &-title {
        color: #fff;
        font-size: 6rem;
        font-family: "Righteous", cursive;
      }
      & img {
        width: 70rem;
        height: 42rem;
      }
      &-1 {
        background-image: url("/assets/slider-img-4.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &-2 {
        background-image: url("/assets/slider-img-5.jpg");
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover;
      }
      &-3 {
        background: linear-gradient(to right, #9900ff, #2ca4ff, #6cd9f5);
      }
    }
    // & img{    
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     transition: all 0.25s ease-in;
    //     object-fit: cover;
    //     object-position: left;
    // //    animation: slider 0.5s  ease;
    // }
  }

  &-infocons {
    padding: 3rem 0;
    background-color: #fff;
    & > div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      font-size: 2.7rem;
      color: $accentFont;
      font-family: "Passion One", cursive;
    }
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 17rem;
      margin: 0 2rem;
      & img {
        width: 10rem;
        height: 10rem;
      }
    }
  }
}

@keyframes slider {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//*----------------------------RESPONSIVE--------------------------------
@media only screen and (max-width: 550px) {
  .hero-slider-item {
    flex-direction: column-reverse;
  }
}

//*----------------------------RESPONSIVE--------------------------------
