*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.4%;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: #f4f4f4;
}

.hidden{
    display: none;
}
.center{
    max-width: 1400px;
    width: 95%;
    margin: auto;
}
@import "index";